* {
    box-sizing: border-box; 
}

body {
    background-color: black;
    font-family: 'Averia Serif Libre', cursive;
}

h2 {
    color: white;
    font-size: 35px;
}

.crystal-images {
    width: 200px;
    height: 200px; 
}

img {
    border: 1px solid grey; 
}

p {
    font-size: 25px; 
    color: white;
}

#directions {
    font-size: 35px; 
    color: silver;
}

#header-image {
    width: 700px;
    height: 275px;
    border: none; 
}

.crystal-images:hover {
    cursor: pointer;
}

.crystal-images {
    padding: 10px; 
}